*.pyc
.nfs*

# Coverage analysis.
.coverage
htmlcov

# The setuptools temp-folders.
*.egg-info
*.egg

# Generated documentation.
documentation/_build

# Example data results
examples/MNIST/data
examples/MNIST/models/*.png
examples/MNIST/results
examples/residual-nets/data
examples/residual-nets/models/*.png
examples/residual-nets/results
